#battlefield {
	background-image: url('images/water.png');
	background-size: cover;
	width:45%;
	margin: 0 auto;
}

.game_grid{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.cell {
	border: 1px solid black;
}